<svg id="phalcon_logo" data-name="phalcon logo" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 2184.07 2496.72">
    <path class="cls-1" d="M1743,1197.4l-152-306.12,48.45,204.82Z" transform="translate(-0.11 0)"/>
    <path class="cls-2" d="M1564.71,784,1682,1279.51l-377.2-398.6L755.1,367.77,614.8,0Z" transform="translate(-0.11 0)"/>
    <path class="cls-3" d="M1335,893.18l-494-236.81L571.4,366.68,536.13,175.84,1335,893.18Z" transform="translate(-0.11 0)"/>
    <path class="cls-4" d="M1712.87,1301.24l-466.29-118.88L349.84,666.52.11,186.56l1345.1,713.22,367.66,401.45Z" transform="translate(-0.11 0)"/>
    <path class="cls-1" d="M1225.2,1168.67v13.78L1165,1294.93l-314.52-103.3L266,753.18,38.48,427.2l261,156.1,40.15,62,885.58,523.39Z" transform="translate(-0.11 0)"/>
    <path class="cls-4" d="M377.86,839.13l-43.5-5.06L182.08,778.45l311.8,285.67,82.18,63.2L902.36,1236,377.85,839.12Z" transform="translate(-0.11 0)"/>
    <path class="cls-3" d="M1656.21,1279.94l-6.61,253.17-24.23-41.38L1484.43,1482,1158.5,1294.55l74.88-131.46,422.83,116.85Z" transform="translate(-0.11 0)"/>
    <path class="cls-2" d="M329.72,1001.06l405.71,310,421.39,140.27,325,29.52-322.77-187L329.72,1001.06Z" transform="translate(-0.11 0)"/>
    <path class="cls-3" d="M526.45,1248.05l281.88,156.36,328.14,33-396.4-123.32-63.87-39.64-149.75-26.43Z" transform="translate(-0.11 0)"/>
    <path class="cls-1" d="M1152.87,1431.1l-461.25-40.24,237.61,91.19,156.08,21.46,67.55-72.41Z" transform="translate(-0.11 0)"/>
    <path class="cls-3" d="M1048.39,1502.2l-39.64,5.85-185,26.29L914.05,1473l134.33,29.22Zm295.44,40-9,16L659.67,1949.37,526.45,2125.52l47.42-189.88,146.76-201.31,420-283.67,203.22,91.51Z" transform="translate(-0.11 0)"/>
    <path class="cls-4" d="M605.73,1734.75,486.81,1891.11v-68.27l118.92-88.1Z" transform="translate(-0.11 0)"/>
    <path class="cls-2" d="M1585.74,1569.58l-451.47,306.1-37.44-63.87L940.47,2142.16l35.23,48.46,26.43,306.1L812.74,2146.57l154.16-378.8,376.58-233.44,242.25,35.24Z" transform="translate(-0.11 0)"/>
    <path class="cls-4" d="M966.91,1761.17l-301.71,163-8.82,224.64,92.5,301.71V2296.32l218-535.16Z" transform="translate(-0.11 0)"/>
    <path class="cls-1" d="M592.52,2192.82l4.4,15.42,39.65,167.37-52.86-33,8.81-149.76ZM1142.1,1854.2l-40.48-49.94-169,320.11,269,351.91L1135,2319.62l7.14-465.42Z" transform="translate(-0.11 0)"/>
    <path class="cls-3" d="M1173.91,1835.09l-35.23,18.47-2.2,383.45,66.07,138.6,123.32-46.2-4.4-92.4-134.34-131.67-13.21-270.25Z" transform="translate(-0.11 0)"/>
    <path class="cls-4" d="M1782,1564.88l-204.82,57.26-222.43,189.39-121.12-4.4,350.16-235.64,198.21-6.61Z" transform="translate(-0.11 0)"/>
    <path class="cls-1" d="M1697.86,1590.18l-64.19-118.09L1056,1426.87l259,108,382.81,55.27Zm-336.75,214,28.63,67.52L1451.4,1916h11l-4.4,72.17-189.4,79.16-63.87-146.67-17.61-86.15,57.26-46.57,116.72,16.3Z" transform="translate(-0.11 0)"/>
    <path class="cls-4" d="M1462.41,2184l-114.52-50.65-44,90.3,15.41,22-2.2,96.9,83.69,94.69-13.22-178.38,19.82-8.81,66.07,63.87-30.83-72.68-70.47-37.43,15.41-26.43,74.88,33V2184ZM1491,1807.42l-44,105.71,8.82,90.29,90.29,112.32-11-180.59,13.22-8.81,70.47,61.67-28.63-68.27-79.28-41.85,13.21-22,81.49,35.24-2.21-30.83L1491,1807.42Z" transform="translate(-0.11 0)"/>
    <path class="cls-2" d="M1898.46,1340.55,1654,1283.29v229l28.63,50.65,215.82,2.2,204.81,70.48-6.6-28.63-125.53-72.68-251.06-99.1,143.15-2.2-138.75-63.87,174-28.62Z" transform="translate(-0.11 0)"/>
    <path class="cls-1" d="M2183.59,1549.91l-92.5-149.76-211.42-63.87-167.37,30.84,132.14,66.06-123.33,4.41,231.24,99.11,132.13,63.87,99.11-50.66Z" transform="translate(-0.11 0)"/>
    <path class="cls-4" d="M2063.05,1728.14l35.24-52.85L2071.86,1607,2182,1545.35l2.2,125.53-66.07,59.46-55.06-2.2Z" transform="translate(-0.11 0)"/>
    <path class="cls-5" d="M2151.35,1531.13l-75.58-35.27-40.32,35.27" transform="translate(-0.11 0)"/>
</svg>