<div id="phalcon-toolbar-hide"></div>
<div id="phalcon-toolbar">
    <div class="ptoolbar-left">
        <div class="ptoolbar-information">
            <div class="ptoolbar-info ptoolbar-box-color">
                <div class="ptoolbar-icon">
                    <span class="ptoolbar-status ptoolbar-status-green"><?php echo $profiler->getResponseCode(true); ?></span>
                    <span class="ptoolbar-label">@</span>
                    <span class="ptoolbar-value">name</span>
                </div>
            </div>
            <div class="ptoolbar-cloud">
                <div class="ptoolbar-info-group">
                    <div class="ptoolbar-info-piece">
                        <b>HTTP status</b>
                        <span><?php echo $profiler->getResponseCode(); ?></span>
                    </div>
                    <div class="ptoolbar-info-piece">
                        <b>Controller</b>
                        <span><?php echo $profiler->getDispatch('controllerAction'); ?></span>
                    </div>
                    <div class="ptoolbar-info-piece">
                        <b>Controlle class</b>
                        <span><?php echo $profiler->getDispatch('namespaceControl'); ?></span>
                    </div>
                    <div class="ptoolbar-info-piece">
                        <b>Has session</b>
                        <span><?php echo isset($_SESSION) ? 'yes' : 'no'; ?></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="ptoolbar-information">
            <div class="ptoolbar-info">
                <div class="ptoolbar-icon">
                    <span class="ptoolbar-value"><?php echo $profiler->getRenderTime(); ?></span>
                    <span class="ptoolbar-label">ms</span>
                </div>
            </div>
        </div>
        <div class="ptoolbar-information">
            <div class="ptoolbar-info">
                <div class="ptoolbar-icon">
                    <span class="ptoolbar-value"><?php echo $profiler->convert(memory_get_usage(true), 'value'); ?></span>
                    <span class="ptoolbar-label"><?php echo $profiler->convert(memory_get_usage(true), 'type'); ?></span>
                </div>
            </div>
            <div class="ptoolbar-cloud">
                <div class="ptoolbar-info-group">
                    <div class="ptoolbar-info-piece">
                        <b>Peak memory usage</b>
                        <span><?php echo $profiler->convert(memory_get_usage(true)); ?></span>
                    </div>
                    <div class="ptoolbar-info-piece">
                        <b>PHP memory limit</b>
                        <span><?php echo $profiler->convert($profiler->getMemoryLimit()); ?></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="ptoolbar-information">
            <div class="ptoolbar-info">
                <div class="ptoolbar-icon">
                    <span class="ptoolbar-value"><?php echo $profiler->getSumRenderTime(); ?></span>
                    <span class="ptoolbar-label">ms</span>
                </div>
            </div>
            <div class="ptoolbar-cloud">
                <div class="ptoolbar-info-group">
                    <div class="ptoolbar-info-piece">
                        <b>Render time</b>
                        <span><?php echo $profiler->getSumRenderTime(); ?> ms</span>
                    </div>
                    <div class="ptoolbar-info-piece">
                        <b>Template Calls</b>
                        <span><?php echo count($profiler->countViews); ?></span>
                    </div>
                </div>
            </div>
        </div>
        <?php if ($profiler->getQueryCount() > 0): ?>
        <div class="ptoolbar-information">
            <div class="ptoolbar-info">
                <div class="ptoolbar-icon">
                    <span class="ptoolbar-value"><?php echo $profiler->getQueryCount(); ?></span>
                    <span class="ptoolbar-label">in</span>
                    <span class="ptoolbar-value"><?php echo $profiler->getExhaustedQuery(); ?></span>
                    <span class="ptoolbar-label">ms</span>
                </div>
            </div>
            <div class="ptoolbar-cloud">
                <div class="ptoolbar-info-group">
                    <div class="ptoolbar-info-piece">
                        <b>Database queries</b>
                        <span><?php echo $profiler->getQueryCount(); ?></span>
                    </div>
                    <div class="ptoolbar-info-piece">
                        <b>Queries exhausted</b>
                        <span><?php echo $profiler->getExhaustedQuery(); ?></span>
                    </div>
                </div>
            </div>
        </div>
        <?php endif; ?>
    </div>
    <div class="ptoolbar-right">
        <div class="ptoolbar-information">
            <div class="ptoolbar-info">
                <div class="ptoolbar-icon">
                    <span>
                        <?php include __DIR__.'/partial/logo-phalcon.phtml'; ?>
                    </span>
                    <span class="ptoolbar-value"><?php echo \Phalcon\Version::get(); ?></span>
                </div>
            </div>
            <div class="ptoolbar-cloud">
                <div class="ptoolbar-info-group">
                    <div class="ptoolbar-info-piece">
                        <b>Token debug</b>
                        <span>
                            <a href="<?php echo $profiler->getUrl(); ?>">
                                <?php echo $profiler->tokenNumber ?>
                            </a>
                        </span>
                    </div>
                </div>
                <div class="ptoolbar-info-group">
                    <div class="ptoolbar-info-piece">
                        <b>PHP version</b>
                        <span><?php echo phpversion(); ?></span>
                    </div>
                    <div class="ptoolbar-info-piece">
                        <b>PHP SAPI</b>
                        <span><?php echo php_sapi_name(); ?></span>
                    </div>
                </div>
                <div class="ptoolbar-info-group">
                    <div class="ptoolbar-info-piece">
                        <b>Documentation</b>
                        <span>
                            <a href="https://docs.phalconphp.com/en/" target="_blank">
                                Read Phalcon <?php echo \Phalcon\Version::get(); ?> docs
                            </a>
                        </span>
                    </div>
                    <div class="ptoolbar-info-piece">
                        <b>Help</b>
                        <span>
                            <a href="https://phalcon.link/forum" target="_blank">Forum</a>
                            <a href="https://phalcon.link/discord" target="_blank">Discord</a>
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="ptoolbar-close">X</div>
    </div>
</div>

<style>
    <?php include __DIR__.'/../../public/css/toolbar.css'; ?>
</style>