.ptoolbar-information {
  cursor: default;
  position: relative;
  white-space: nowrap;
  float:left;

  * {
    vertical-align: baseline;
    letter-spacing: normal;
    width: auto;
    box-sizing: content-box;
  }

  .ptoolbar-info {
    height: $mainHeight;
    line-height: $mainHeight;
    font-size: 15px;

    .ptoolbar-icon {
      padding: 0 8px;

      .ptoolbar-label {
        color: #a5a5a5;
      }

      .ptoolbar-status {
        padding: 0 8px;
        height: $mainHeight;
        line-height: $mainHeight;
        display: inline-block;
        margin-right: 4px;

        &.ptoolbar-status-green {
          background: #4f805d;
        }

        &.ptoolbar-status-yellow {
          background: #A46A1F;
        }

        &.ptoolbar-status-red {
          background: #B0413E;
        }
      }
    }

    &.ptoolbar-box-color {
      .ptoolbar-icon {
        padding: 0 8px 0 0;
      }
    }
  }

  .ptoolbar-cloud {
    position: absolute;
    bottom: $mainHeight;
    padding: 0 8px;
    background: #374d5b;
    cursor: context-menu;
    font-size: 12px;
    display: none;
    z-index: 10000;

    .ptoolbar-info-group {
      border-bottom: 1px solid #333;
      padding: 4px 0;

      &:first-child {
        padding-top: 8px;
      }

      &:last-child {
        border-bottom: none;
        padding-bottom: 8px;
      }
    }

    .ptoolbar-info-piece {
      display: table-row;
      border-bottom: 1px solid transparent;

      b {
        display: table-cell;
        padding: 4px 8px 4px 0;
        color: #a5a5a5;
      }

      span {
        display: inline-block;
      }
    }
  }

  &:hover {
    background: #374d5b;

    .ptoolbar-cloud {
      display: block;
    }
  }
}

.ptoolbar-right {
  .ptoolbar-icon {
    display: table-row;

    span {
      display: table-cell;
      height: $mainHeight;
      vertical-align: middle;
      padding: 0 8px;

      img {
        display: block;
      }

      &:first-child {
        padding-right: 4px;
      }

      &:last-child {
        padding-left: 4px;
      }
    }
  }

  .ptoolbar-cloud {
    left: initial;
    right: 0;
  }
}