<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Phalcon PHP Profiler Tools</title>
    </head>
    <body>
    <div class="container">
        <?php echo $this->getContent(); ?>
    </div>
    </body>
</html>
