$mainHeight: 40px;

@import "toolbar/information";

#phalcon-toolbar {
  position: fixed;
  bottom: 0;
  width: 100%;
  left: 0;
  height: $mainHeight;
  background: #233842;
  color: #f7fdf9;
  font-family: Arial, sans-serif;
}

#phalcon-toolbar-hide {
  display: none;
}

.ptoolbar-left {
  float: left;
}

.ptoolbar-right {
  float: right;
}

.ptoolbar-close {
  width: $mainHeight;
  height: $mainHeight;
  line-height: $mainHeight;
  text-align: center;
  background: #374d5b;
  cursor: pointer;
  float: left;
}

a {
  cursor: pointer;
  color: #99CDD8;
  text-decoration: underline;

  &:hover {
    color: #99CDD8;
    text-decoration: none;
  }
}

svg {
  height: 30px;
  width: 26px;
  display: block;

  .cls-1 {
    fill: #61A581;
  }

  .cls-2 {
    fill: #C5E3D2;
  }

  .cls-3 {
    fill: #76C39B;
  }

  .cls-4, .cls-5 {
    fill: #373536;
  }

  .cls-4 {
    stroke-width: 1.12px;
  }

  .cls-5 {
    stroke-width: 0.3px;
  }
}